.dashboard-container {
    width: 1200px;
    height: 700px;
    background-color: white;
    border-radius: 3%;
    position: absolute;
    top: 70%;
    Left: 50%;
    transform: translate(-50%, -70% );
}

.profile-container {
    width:400px;
    height: 700px;
    background-color: rgb(59, 59, 59);
    border-style: dashed;
    border-color: red;
    position: absolute;
    top: 50%;
    Left: 0%;
    transform: translate(-0%, -50% );
}

.profile-icon {
    width: 250px;
    height: 250px;
    border-style: dashed;
    border-color: red;
    background-image: url(../images/profile-icon.png);
    background-repeat: no-repeat;
    background-size: contain;    
    position: absolute;
    top: 10%;
    Left: 50%;
    transform: translate(-50%, -10% );
}