* {
  box-sizing: border-box;
  overflow: hidden;
}

.TestButton-body {
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
}

#control-box {
  width: 280px;
  height: 220px;
  background-color: rgb(59, 59, 59);
  box-shadow: 0px 40px rgba(51, 51, 51, 0.658);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 4px solid rgba(102, 102, 102, 0.548);
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#call-label {
  width: 250px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.61);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -90%);
  

}


button {
  width: 120px;
  height: 85px;
  background: #dfbe04;
  border-radius: 50%;
  border: 3px solid #c5a803;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.glowing {
  animation: glowing 300ms infinite;}

  @keyframes glowing {
    0% {
      background-color: #dfbe04;
      box-shadow: 0 0 10px #dfbe04;
    }
    50% {
      background-color: #FFFF00;
      box-shadow: 0 0 100px #FFFF00;
    }
    100% {
      background-color: #dfbe04;
      box-shadow: 0 0 10px #dfbe04;
    }
  }